In [5]:
import numpy as np
import pandas as pd

In [6]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [9]:
arr

array([10, 20, 30])

In [10]:
d

{'a': 10, 'b': 20, 'c': 30}

In [11]:
# use of pandas

In [12]:
pd.Series(data = my_data)   # my_data is indexed by default zero

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(data = my_data, index = labels)    # specifying indexing - 1st method

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(my_data, labels)     # 2nd method

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(arr)    # passing a numpy array

0    10
1    20
2    30
dtype: int32

In [17]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [18]:
pd.Series(d)   # passing a dictionary

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(data = labels)   # Passing a list of string

0    a
1    b
2    c
dtype: object

In [21]:
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [36]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','Japan','Singapor'])

In [37]:
ser1

USA         1
Germany     2
Japan       3
Singapor    4
dtype: int64

In [40]:
ser1['Japan']

3

In [28]:
ser2 = pd.Series([1,2,5,7],['USA','Germany','Itlay','Japan'])

In [29]:
ser2

USA        1
Germany    2
Itlay      5
Japan      7
dtype: int64

In [30]:
ser2['USA']

1

In [32]:
ser3 = pd.Series(data=labels)

In [33]:
ser3

0    a
1    b
2    c
dtype: object

In [41]:
ser3[0]

'a'

In [43]:
ser1 + ser2           # NaN = means NULL value  and integers are converted to float during addtion

Germany      4.0
Itlay        NaN
Japan       10.0
Singapor     NaN
USA          2.0
dtype: float64